<div style="width: 100%;"
    id="<perl>return getCurNeuronId()</perl>"
    class="neuron neuronUsers">

    <script>
        $(document).ready(function(){
            // setup
            var users = NeuronUsersClass();
            users.setId("<perl>return getCurNeuronId()</perl>");
            users.load();
            users.render();
        });
    </script>

    <h1>Users</h1>

</div>

