<div class="object_user_map">
    <table class="object_user_map_table">
    <tr>
        <td>
            <input type="text"></input>
        </td>
        <td width="100%">
        </td>
    </tr>
    </table>
</div>

