<div style="width: 100%;"
    id="<perl>return getCurObjectId()</perl>"
    class="object objectDialog">

    <script>
    </script>

    <table>
        <tr>
            <td>Dialog short info</td>
        </tr>
    </table>

</div>

