<div    <perl>return getCurObject()->getHtmlAttrs();</perl>
        class="IPNoiseObjectMedia"
        object_audio_url="<perl>return getCurObject()->getUrl()</perl>"
        object_show_controls_upload="1"
    >
</div>

