<div    <perl>return getCurObject()->getHtmlAttrs();</perl>
        class="IPNoiseHtmlObjectMedia"
        object_audio_url="<perl>return getCurObject()->getUrl()</perl>"
        object_show_controls_player="1"
    >
</div>

