<tr>
    <td><b><perl>return getCurObject()->getName();</perl></b></td>
    <td>
        <input type="text" name="<perl>return getCurObject()->getName();</perl>"
            value="<perl>return getCurObject()->getVal();</perl>">
        </input>
    </td>
</tr>

