<div style="width: 100%;"
    id="<perl>return getCurObjectId()</perl>"
    class="object objectDream">

    <script>
    </script>

    <center>
    <h1>Редактирование сна</h1>
    </center>

    <div class="object_dream_edit">
        <table>
            <tr>
                <td>Время начала и окончания</td>
                <td>
                    <input type="text"></input>
                    <input type="text"></input>
                </td>
            </tr>
            <tr>
                <td>Общее описание</td>
                <td><textarea>вуги</textarea></td>
            </tr>
            <tr>
                <td>Выявленные ошибки</td>
                <td><input type="text"></input></td>
            </tr>
            <tr>
                <td>
                    <input type="button" value="Сохранить"
                        onclick="uiGetObject(this).save(this, event);"/>
                </td>
                <td></td>
            </tr>
        </table>
    </div>

</div>

