<title>The Game</title>

<style type="text/css">
/*
    html, body {
        background-color:   gray;
        width:              100%;
        height:             100%;
        margin:             0px;
    }
*/

/* internal_error */

.internal_error
{
    background-color:   #0000aa;
    color:              #ffffff;
    font-family:        courier;
    font-size:          10pt;
}

.internal_error h1
{
    color:              #ffff00;
}

</style>

