<style>
        .center_right_menu {
        background-color:   #d5fff2;
        width:              100%;
        height:             100%;
        text-align:         center;
        vertical-align:     top;
        font-family:        Comic Sans MS;
        color:              blue;
        font-size:          120%;
        }
        .radius1 {
        background:         white; /* Цвет фона */
        font-family:        Comic Sans MS;
        color:              black;
        border:             1px solid blue; /* Параметры рамки */
        padding:            20px; /* Поля вокруг текста */
        margin-bottom:      5px; /* Отступ снизу */
    }
    .radius2 {
        background:         white; /* Цвет фона */
        font-family:        Comic Sans MS;
        color:              black;
        border:             1px solid red; /* Параметры рамки */
        padding:            15px; /* Поля вокруг текста */
        margin-bottom:      5px; /* Отступ снизу */
    }
    .radius3 {
        background:         #f0f0f0; /* Цвет фона */
        font-family:        Comic Sans MS;
        color:              black;
        border:             1px solid black; /* Параметры рамки */
        padding:            5px; /* Поля вокруг текста */
        margin-bottom:      10px; /* Отступ снизу */
    }
</style>
<div class="center_right_menu">
    <div><br/>INFO:<br/></div> <br/>
    <div style="border-radius: 8px;" class="radius1">Новинки</div>
    <div style="border-radius: 8px;" class="radius1">Аналогичные товары</div>
    <div style="border-radius: 8px;" class="radius1">Возможно, Вас заинтересует:</div>
    <div style="border-radius: 8px;" class="radius1">Аксессуары</div>
</div>

