<div    <perl>return getCurNeuron()->getHtmlAttrs();</perl>
        class="NeuronMedia"
        neuron_audio_url="<perl>return getCurNeuron()->getUrl()</perl>"
        neuron_show_controls_upload="1"
    >
</div>

